

  .proz_body{
  background-color:#59378D;
  color: white;
  }

  header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
  }
  ul {
    display: flex;
    height: 100%;
    align-items: center;
  }

  nav ul li {
    padding-left: 16px;
    list-style-type: none;
  }
  .proz_main {
    height: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
  }

  .proz_main_titles {
    align-self:flex-start;
    padding-left: 170px;
  }
  .proz_main_title{
    font-size: 48px;
  }
  .proz_main_title_subtitle {
    font-size:20px;

  }


  .proz_description_section {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    

  }

  .proz_description_services_one,.proz_description_services_two{
    background: url(img/bg_laranja.jpg);
    border-radius: 12px;
    max-width:  300px; 
    height: 200px;
    padding: 20px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }

  .proz_description_services_title {
    margin: bottom 16px;
    font-size: 20px;
    padding:10px;
  }